/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* login */


.hr{
  border: 1px solid rgba(68, 68, 79, 1) !important
}
.dot{
width: 3px;
height: 3px;

}
.MuiInputBase-input-MuiInput-input:focus{
 border-bottom: none !important;

}

/* signup */
.btonn {
  padding: 0px 20px 15px 20px;
  display: flex;
  justify-content: center;
}
.email {
  background: rgba(41, 41, 50, 1) !important;
  color: rgba(146, 146, 157, 1) !important;
  border-radius: 15px !important;
  height: 38px;
  width: 320px !important ;
  padding: 11px 15px 11px 15px;
}
.min-height-100vh {
  min-height: 100vh;
}
/* Register head*/
.bg {
  background: rgba(28, 28, 36, 1) !important;
}
.logo {
  width: 112px !important;
  height: 32px !important;
}
.nav {
  padding: 20px !important;
  display: flex;
  justify-content: space-between;
}
.find {
  width: 86px;
  height: 38px;
  top: 16px;
  left: 1292px;
  gap: 0px;
  opacity: 0px;
  border-radius: 10px;
  background: rgba(79, 79, 90, 1) !important;
  color: white !important;
  padding: 10px;
}
/* register */
.register {
  padding: 87px 0px 40px 0px;
  justify-content: center !important;
  flex-direction: column !important;
  display: flex !important;
}
.register h3{
  /* font-family: Poppins; */
font-size: 56px;
line-height: 76px;
letter-spacing: 0.23333320021629333px;
text-align: center;
color: rgba(250, 250, 251, 1);
padding-bottom: 23px ;
margin-bottom: 0px
}
.register p{
  /* font-family: Roboto; */
font-size: 16px;
line-height: 26px;
letter-spacing: 0.10000000149011612px;
text-align: left;
color: rgba(146, 146, 157, 1);
margin-bottom: 0px
}
.regis-div{
  padding: 30px !important;
}
/* create accnt */

.TWimg{
  padding: 50px 0px 50px 0px;
}
.email1 {
  padding: 30px 0px 0px 0px;
  width: 485px;
}
.email11 {
  padding: 30px 0px 40px 0px;
}
.position-absolute{
  position: absolute !important;
  top: -5px;
  left: 565px;
}
/* home page */
.bgimg{
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.position-absolute{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 300px;
  top: 80px;
}
.position-absolute h3{
  /* font-family: Poppins; */
font-size: 56px;
line-height: 76px;
letter-spacing: 0.10000000149011612px;
text-align: center;
color: white;
}
.position-absolute p{
  /* font-family: Roboto Medium; */
font-size: 16px;
line-height: 18.75px;
letter-spacing: 0.10000000149011612px;
text-align: left;
color: white;
}